@page
@model IndexModel
@{
}
<table id="list" class="table table-striped table-sm"></table>
<div id="details"></div>

@section Scripts
{
    <script src="~/js/api-demo.js"></script>
    <script>
        var uri = `@Url.Action("GetLoot","Loots")`;
        $(document).ready(function () {
            $.getJSON(uri, function (data) {
                $.each(data, function (index, value) {
                    $("#list").append(createRow(index + 1, value));
                });
            })
        });
    </script>
}
