body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    font-size: 1.3em;
}

.navbar {
    width: 100%;
    padding: 0 12em;
}

.nav-color {
    color: #93B7BE
}

.active {
    color: #D4F5F5
}

.main-container {
    padding: 3em 12em;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0.8em 0;
}

.card {
    min-height: 450px;
    max-width: 250px;
    max-height: 450px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.badge {
    text-align: start;
}

.pagination-row {
    display: flex;
    justify-content: center;
}


